<h1>Xia 5 Cha</h1>

<div class="hero-unit">
  <form class="order-form pure-form pure-g-r" ng-submit="addOne(newItem)">
    <input class="pure-u-1-6" type="text" ng-model="newItem.name" placeholder="客官" required/>
    <input class="pure-u-3-5" type="text" ng-model="newItem.desc" placeholder="来点儿什么？"/>
    <button class="pure-u-1-6 pure-button pure-button-primary" type="submit">+</button>
  </form>

  <div ng-show="list.length" class="order-count">
    <i class="order-count-tip">TOTAL</i>
    {{list.length}}
  </div>

  <ul class="pure-g order-list">
  	<li ng-repeat="item in list">
      <span class="item-name pure-u-1-6">{{item.name}}</span>
      <span class="item-desc pure-u-2-3">{{item.desc}}</span>
      <span class="item-stat item-del" ng-click="list.remove(item)" ng-show="item.name == newItem.name"><i class="icon-torso"></i><i class="icon-cancel"></i></span>
    </li>
  </ul>
</div>
